[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-webpack-loader = "*"
social-auth-app-django = "*"
django-split-settings = "*"
ipython = "*"
google-cloud-storage = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"
pymysql = "*"
mysql-connector-python = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
